body {
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    quotes: "\00ab" "\00bb";
}
h1 {
    font: 32px 'PT Sans', sans-serif;
    font-weight: 700;
    color: #676767;
    opacity: 1;
}
h2 {
    font: 22px 'PT Sans', sans-serif;
    font-weight: 700;
    color: #676767;
    opacity: 1;
}
p {
    font: 14px 'PT Sans', sans-serif;
    font-weight: 400;
    opacity: 1;
}
strong {
    font-weight: 700;
}
em {
    font-style: italic;
}
header {
    background: url(../img/back.jpg) no-repeat top center;
    width: auto;
    background-size: cover;
    /*background-position: top center;*/
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
header .lang-switch {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    justify-content: flex-end;
    align-items: center;
}
header .lang-switch a {
    text-decoration: none;;
}
header .lang-switch span {
    font-size: .9em;
    font-weight: 400;
    margin: 20px 10px -3px;
    opacity: .4;
    color: #ffffff;
}
header .lang-switch span.divider {
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
}
header .lang-switch a.lang-active span {
    opacity: 1;
    font-weight: 700;
}
header .logo {
    width: calc(100% - 40px);
    height: auto;
    padding: 30px 20px;
    background-size: contain;
    background: #ffffff center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
header .logo img {
    width: 335px;
    height: auto;
}
header .desc p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    margin: 20px;
}
header .platform {
    width: auto;
    height: auto;
    margin: 0 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .platform a {
    background: #ffffff;
    margin-bottom: 10px;
    align-content: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
}
header .platform img {
    width: 80%;
    margin: 15px 40px;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
main .socials {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}
main .socials h1 {
    font-size: 1.125em;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    color: #676767;
    margin-bottom: 10px;
}
main .socials .soc-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
main .socials .soc-buttons a {
    text-decoration: none;
}
main .socials .soc-buttons a:active {
    text-decoration: none;
}
main .socials .soc-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    font-weight: 700;
    color: #1b2356;
    font-size: 14px;
    width: 120px;
    height: 40px;
}
main .socials .soc-button .underline {
    display: inline-block;
    border-bottom: 2px solid #ffffff;
    padding-top: 4px;
    padding-bottom: 2px;
}
main .socials .soc-button .underline:active {
    border: none;
}
main .socials .soc-button.fb-icon {
    background: url("../img/fb.svg") no-repeat 14px center;
    margin-right: 20px;
    padding-left: 17px;
    /*background: #ffffff;*/
    color: #1b2356;
    background-size: 8px 16px;

}
main .socials .soc-button.yt-icon {
    background: url("../img/youtube-logo.svg") no-repeat 14px center;
    margin-right: 20px;
    padding-left: 17px;
    color: #1b2356;
    background-size: 14px 16px;
}
main .socials .soc-button.fb-icon:hover {
    margin-right: 20px;
    /*padding-left: 10px;*/
    background: #1b2356 url("../img/fb-white.svg") no-repeat 14px center;
    color: #ffffff;
    background-size: 8px 16px;
    cursor: pointer;
}
main .socials .soc-button.yt-icon:hover {
    margin-right: 20px;
    /*padding-left: 10px;*/
    color: #ffffff;
    background: #1b2356 url("../img/yt-logo-white.svg") no-repeat 14px center;
    background-size: 14px 16px;
    cursor: pointer;
}
main .socials .soc-button:active {
    box-shadow: none;
    border-bottom: none;
}

main .socials .soc-button .underline:active {
    display: inline-block;
    border-bottom: 0;
    padding-top: 4px;
    padding-bottom: 2px;
}
main .socials .soc-button img {
    margin-right: 8px;
}
main .banner {
    background: url(../img/banner.jpg) no-repeat top center ;
    background-size: cover;
    padding: 10px 40px;
    /*width: 51.5%;*/
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}
main .banner h1 {
    color: rgba(255, 255, 255, .6);
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 700;
}
main .banner p {
    color: #ffffff;
    font-size: 1.125em;
    line-height: 1.5em;
    margin-bottom: 5px;
}
main .banner p em {
    font-size: .89em;
    line-height: 1em;
}
main .banner a.details {
    width: 80px;
    height: 12px;
    margin: 10px 0;
    padding: 14px 20px;
    vertical-align: top;
    background: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font: 12px 'PT Sans', sans-serif;
    font-weight: 700;
    color: #2d3c9c;
    border: none;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
main .banner a.details:hover {
    text-decoration: underline;
    cursor: pointer;
}
main .banner a.details:active {
    cursor: pointer;
    box-shadow: none;
    text-decoration: none;
}
main .components {
    padding: 20px 20px;
}
main .components .column-1,
main .components .column-2,
main .components .column-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
main .components .component {
    margin: 0;
}
main .components .column-2 {
    display: none;
}
.circle, .lines {
    display: none;
}
main h1.head-components {
    font-size: 2em;
    line-height: 1em;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    margin: 40px 20px 0;
}
main .components h2 {
    font-size: 1.5em;
    line-height: 1.25em;
    margin-bottom: 5px;
    /*word-break: break-all;*/
    hyphens: manual;
}
main .components p {
    font-size: 1em;
    line-height: 1.375em;
    margin-bottom: 20px;
}
footer {
    display: flex;
    flex-direction: column-reverse;
}
footer .contacts {
    background: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 15px;
}
footer .contacts p {
    font-size: 1.4em;
    line-height: 1.5em;
    text-align: center;
    color: #505050;
    hyphens: manual;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
footer .contacts p.phone {
    margin-top: 20px;
}
footer .subscribe {
    background: #fbaf19 url(../img/back-logo.svg) no-repeat top center;
    background-position-x: -100px;
    background-position-y: -20px;
    padding: 15px 20px;
    color: #ffffff;
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 700;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}
footer .subscribe p {
    font-size: 1em;
    /*line-height: 1.4em;*/
    font-style: italic;
    text-align: center;
    font-weight: 700;
    padding-top: 10px;
}
footer .subscribe h1 {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
}
footer .subscribe h2 {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}
footer .subscribe form {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.20);
}
footer .subscribe form input {
    border: none;
    padding: 0 15px;
    flex: 4;
}

footer .subscribe form button {
    border: none;
    text-transform: uppercase;
    background: #ffe0a3;
    color: #f59012;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    padding: 20px 20px;
    flex: 1;
}
footer .subscribe form button:hover {
    background: #f59012;
    color: #ffffff;
}
footer .subscribe form button:active {
    background: #ffe0a3;
    color: #f59012;
}
footer .financing {
    background: #ffffff;
    color: #2e2e2e;
    flex-direction: column;
    padding: 40px 20px 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}
footer .financing p {
    font-size: 16px;
    text-align: center;
}
footer .financing .logos {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 20px;
}
footer .financing .logos img {
    /*flex-basis: 30%;*/
    /*flex-shrink: 1;*/
    /*width: 40%;*/
}
footer .financing .logos img:last-child {
    width: 55%;
    height: auto;
    align-self: center;
}
@media screen
and (min-width: 601px) {
    header {
        margin: 20px 20px 0;
        flex-direction: row;
        flex-wrap: wrap;
    }
    header .lang-switch {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        color: #ffffff;
        align-items: center;
        margin-left: auto;
        margin-right: 30px;
    }
    header .description {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    header .logo {
        margin-left: -20px;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0;
        flex-direction: row;
        width: 66%;
        height: 240px;
    }
    header .logo img {
        width: 300px;
        height: 100%;
        margin: 40px 40px 40px 450px;
        align-self: center;
        /* padding: 40px 40px 40px 0; */
    }
    header .desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 20px 20px 20px 200px;
        width: auto;
    }
    header .desc p {
        margin: 0;
        display: block;
    }
    header .platform {
        margin: 20px 0 10px 200px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    header .platform a {
        /*width: auto;*/
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    header .platform a:last-child {
        margin-right: 10px;
    }
    header .platform a img {
        width: 85%;
        margin: 10px;
    }
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 100vw;
        max-height: fit-content;
    }
    main .soc-banner {
        display: flex;
        flex-direction: column;
    }
    main .socials {
        padding: 40px 20px;
    }
    main .socials h1 {
        margin-left: 140px;
        justify-content: flex-start;
        display: flex;
    }
    main .socials .soc-buttons {
        justify-content: flex-start;
        margin-left: 140px;
    }
    main .socials .soc-buttons a {
        margin-right: 20px;
        margin-top: 0;
    }
    main .banner {
        padding: 0 40px 0 20px;
        display: flex;
        flex-direction: column;
        margin-left: 220px;
        width: 64%;
        justify-self: flex-end;
        align-self: flex-end;
    }
    main .banner h1 {
        width: 100px;
        height: 10px;
        position: static;
        display: block;
        transform-origin: bottom right;
        transform: rotate(-90deg) translateX(-25px) translateY(-100px);
    }
    main .banner p {
        margin-left: 50px;
    }
    main .banner a.details {
        margin-left: 50px;
        margin-top: 10px;
    }
    main h1.head-components {
        text-align: center;
        font-size: 42px;
        margin: 40px auto 40px;
    }
    main .components {
        display: flex;
        flex-direction: row;
    }
    main .components .column-2 {
        display: none;
    }
    main .components .column-1,
    main .components .column-3 {
        /*width: calc(50% - 20px);*/
        margin-right: 20px;
    }
    main .components h2 {
        font-size: 1.4em;
        line-height: 1.25em;
        margin-bottom: 5px;
    }
    main .components p {
        margin-bottom: 0;
        font-size: 0.875em;
        line-height: 1.4325em;
    }
    main .components .component {
        margin: 0 0 20px 20px;
        /*width: calc(50% - 40px);*/
        /*margin: 0 30px 20px 20px;*/
        /*max-height: fit-content;*/
        /*flex-direction: column;*/
    }
    footer .contacts {
        margin-left: 200px;
        padding: 40px;
        display: flex;
        justify-content: left;
        align-items: left;
        align-content: left;
    }
    footer .contacts p {
        hyphens: none;
        white-space: nowrap;
    }
    footer .subscribe {
        margin-top: -80px;
        background-position-x: 100px;
        background-position-y: 50px;
    }
    footer .subscribe h1 {
        margin-top: 20px;
    }
    footer .subscribe p {
        padding: 10px 80px;
    }
    footer .subscribe p:first-child {
        margin-top: 80px;
    }
    footer .subscribe form {
        max-width: 360px;
        margin: 0 auto 25px;
    }
    footer .financing p {
        margin: 0 70px;
    }
    footer .financing .logos {
        justify-content: center;
        margin: 20px 0;
    }
    footer .financing .logos img:last-child {
        width: auto;
        margin-left: 40px;
    }

}
@media screen and (min-width: 1024px) and (max-width: 1280px) {

    /*main .components {*/
        /*width: auto;*/
        /*padding: 0 10px 0;*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: flex-start;*/
        /*flex-wrap: wrap;*/
        /*align-content: flex-start;*/
    /*}*/
    /*main .components .central-logo {*/
        /*display: block;*/
        /*width: 280px;*/
        /*margin: 0 70px 150px 0;*/
        /*height: 600px;*/
        /*opacity: .1;*/
    /*}*/
    /*main .components .component {*/
        /*width: calc(32% - 20px);*/
        /*margin: 0 10px 20px;*/
        /*flex: 1;*/
        /*max-height: fit-content;*/
        /*flex-direction: column;*/
    /*}*/
}
@media screen and (min-width: 768px) {
    header .logo {
        margin-left: -20px;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0;
        flex-direction: row;
        width: 66%;
        height: 240px;
        max-width: 480px;
    }
}
@media screen and (min-width:1024px) {
    header {
        background: url(../img/back.jpg) no-repeat top center;
        width: auto;
        background-size: 1280px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 1440px;
        margin: 20px auto;
    }
    header .lang-switch {
        height: 40px;
        display: flex;
        flex-direction: row;
        color: #ffffff;
        justify-content: flex-end;
        width: auto;
        margin-right: 110px;
        align-items: flex-end;
        margin-top: 20px;
    }
    header .lang-switch span {
        margin: 20px 5px -3px;
    }
    header .lang-switch span.divider {
        font-weight: 400;
        font-size: 24px;
    }
    header .description {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        max-width: 1440px;
        height: 270px;
        margin-top: -20px;
    }
    header .logo {
        margin: 0 10px 0 0;
        padding: 0;
        width: 608px;
        height: 305px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        max-width: 470px;
    }
    header .logo img {
        margin: 0 60px 0 87px;
        padding: 0;
        width: 430px;
        height: auto;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
    }
    header .desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 40px 20px 0;
        width: 49%;
    }
    header .desc p {
        margin: 0 0 20px;
        display: block;
        line-height: 1.4em;
    }
    header .platform {
        margin: 0 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    main {
        max-width: 1440px;
        margin: 0 auto;
    }
    main .soc-banner {
        display: flex;
        flex-direction: row;
        flex: 1;
        max-width: 1280px;
        padding-left: 0;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: -10px;
    }
    main .socials {
        display: flex;
        justify-content: baseline;
        align-self: flex-start;
        height: 150px;
        padding: 0;
        margin-top: 43px;
        width: auto;
        margin-left: 62px;
        margin-right: 40px;
    }
    main .banner {
        width: 100%;
        justify-content: flex-start;
        justify-self: flex-start;
        align-self: flex-end;
        min-height: 160px;
        margin: -70px 0 0 100px;
    }
    main .banner p {
        margin-left: 60px;
        width: auto;
        line-height: 23px;
        max-width: 570px;
    }
    main .socials h1 {
        margin-left: 110px;
        display: flex;
        justify-content: flex-start;
        text-align: left;
        margin-top: 36px;
    }
    main .socials .soc-buttons {
        margin-left: 110px;
    }
    main .socials .soc-button {
        width: 110px;
        height: 40px;
    }
    main .socials .soc-button.fb-icon {
        background: url(../img/fb.svg) no-repeat 10px center;
        margin-right: 20px;
        padding-left: 12px;
        color: #1b2356;
        background-size: 8px 16px;
    }
    main .socials .soc-button.yt-icon {
        background: url(../img/youtube-logo.svg) no-repeat 10px center;
        margin-right: 20px;
        padding-left: 17px;
        color: #1b2356;
        background-size: 14px 16px;
    }
    main .banner {
        margin: -70px 0 0 0;
        width: 100%;
        justify-content: flex-start;
        justify-self: flex-start;
        align-self: flex-end;
        min-height: 160px;
    }
    main .banner h1 {
        width: 103px;
        height: 10px;
        position: static;
        display: block;
        transform-origin: bottom right;
        transform: rotate(-90deg) translateX(-25px) translateY(-103px);
        margin-bottom: 3px;
    }
    main .banner p {
        margin-left: 60px;
        width: auto;
        line-height: 23px;
        max-width: 570px;
    }
    main .banner a.details {
        margin-left: 60px;
        margin-top: 10px;
    }
    main h1.head-components {
        margin: 40px 0;
        justify-content: center;
    }
    main .components {
        margin-bottom: 40px;
    }
    main .components .column-2 {
        display: flex;
        align-items: center;
        /*margin-left: 40px;*/
    }
    /*main .components .central-logo {*/
        /*display: block;*/
        /*width: 200px;*/
        /*margin: 0 50px 150px 0;*/
        /*height: 600px;*/
        /*opacity: 1;*/
    /*}*/
    main .components .central-logo img {
        opacity: .1;
        width: 210px;
    }
    main .components .circle {
        width: 12px;
        height: 12px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #c1c1c1;
        background-color: rgba(255, 255, 255, 0.5);
        position: relative;
    }
    main .components .lines#line1 {
        position: relative;
        top: -394px;
        left: -46px;
    }
    main .components .lines#line2 {
        position: relative;
        top: -424px;
        left: 162px;
    }
    main .components .circle#circle1 {
        top: -358px;
        left: 149px;
    }
    main .components .circle#circle2 {
        top: -433px;
        left: 149px;
    }
    main .components .circle#circle3 {

        top: -407px;
        left: 77px;
    }
    main .components .lines#line3 {
        position: relative;
        top: -414px;
        left: -116px;
    }
    main .components .circle#circle4 {
        top: -369px;
        left: 191px;
    }
    main .components .circle#circle5 {
        top: -315px;
        left: 149px;
    }
    main .components .lines#line4 {
        position: relative;
        top: -22px;
    }
    main .components .lines#line5 {
        position: relative;
        left: -298px;
        top: 8px;
    }
    main .components h2 {
        width: 340px;
    }
    footer .contacts {
        margin-left: 46%;
        padding: 70px;
        margin-top: -120px;
        margin-bottom: 10px;
        max-width: 660px;
    }
    footer .subscribe {
        margin-top: -223px;
        padding: 0 20px;
        background-position-x: 210px;
        background-position-y: 50px;
    }
    footer .subscribe .subscribe-wrapper {
        margin: 0 auto;
        max-width: 1170px;
    }
    footer .subscribe p {
        display: flex;
        width: 420px;
        align-items: flex-end;
        justify-content: flex-start;
        flex-direction: row;
        position: relative;
        text-align: left;
        padding: 0;
        margin: 20px 10px 0;
    }
    footer .subscribe p:first-child {
        margin-top: 40px;
    }
    footer .subscribe h1 {
        margin-top: 20px;
    }

    footer .subscribe form {
        max-width: 360px;
        margin: 0 auto 40px;
    }
    footer .financing p {
        margin: 0 auto;
        width: 600px;
    }
}

@media screen
    and (min-width:1200px) {
    main .components {
        padding: 0 70px;
    }
    main .components .column-1, main .components .column-3 {
        width: 100%;
        margin-right: 20px;
    }
    footer .subscribe .subscribe-wrapper {
        max-width: 1060px;
        margin: 0 auto;
    }
    footer .subscribe p {
        width: 450px;
    }
}
@media screen
    and (min-width: 1280px) {
    header .logo {
        max-width: 630px;
        height: 305px;
    }
    header .logo img {
        margin: 17px 60px 0 167px;
    }
    header .desc p {
        min-height: unset;
        line-height: 1.5em;
    }
    main .soc-banner {
        max-width: 1360px;
    }
    main .socials h1 {
    width: 360px;
}
    main .socials {
        margin-left: 137px;
        margin-right: 0;
        margin-top: 20px;
    }
    main .banner {
        max-width: inherit;
        margin-left: 33px;
    }
    main .banner p {
        margin-top: 3px;
    }
    main .components .component {
        margin: 0 0 20px;
    }
    main .components .central-logo img {
        width: 310px;
    }
    main .component.comp-3 {
        margin-top: 60px;
    }
    .circle, .lines {
        display: block;
    }
    footer .subscribe {
        background-position-x: 210px;
        background-position-y: 50px;
    }
    footer .subscribe .subscribe-wrapper {
        max-width: 1170px;
        margin: 0 auto;
    }
    footer .financing {
        padding: 40px 340px 20px;
    }
}
@media screen
    and (min-width: 1360px) {
    header .logo img {
        margin: 12px 60px 0 147px;
    }
    main .soc-banner {
        max-width: 1440px;
    }
    /*footer .financing p {*/
        /*margin: 0;*/
    /*}*/
}
@media screen
    and (max-width: 340px) {
    header .logo img {
        width: 280px;
        height: auto;
        margin: 0 auto;
    }
    main .banner {
        padding: 10px 30px;
    }
    footer .subscribe form input {
        flex-basis: 60%;
        border: none;
        padding: 0;
        width: 60%;
    }
}

@media screen
    and (min-width: 1280px)
    and (orientation: landscape) {
    main .soc-banner {
        max-width: 1360px;
        margin-top: 30px;
    }
    main h1.head-components {
        margin-top: 40px;
        justify-content: center;
    }
    /*main .components {*/
        /*height: 730px;*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*flex-wrap: wrap;*/
        /*margin-top: 40px;*/
        /*padding: 0;*/
    /*}*/
    /*main .components .component {*/
        /*flex: 0;*/
        /*width: 35%;*/
        /*margin: 0 25px 16px 0;*/
    /*}*/
    /*main .components .component.comp-3 {*/
        /*margin-top: 60px;*/
    /*}*/
    /*main .components .central-logo {*/
        /*display: block;*/
        /*width: 310px;*/
        /*margin: 0 60px 150px 0;*/
        /*height: 670px;*/
    /*}*/
}